module.exports = {
  // choose disposal method to use
  // valid options: FIFO, LIFO, TaxMin, Estimate
  // default: FIFO
  disposalMethod: {
    // 2016: 'FIFO',
    // 2017: 'FIFO',
    // 2018: 'FIFO',

    // BETA: TaxMin (prioritize in order: ST loss, LT loss, LT gain, ST gain)
    // 2018: 'TaxMin',

    // BETA: Sell lot with lowest estimated tax liability
    // 2018: { method: 'Estimate', shortTermTaxRate: '0.35', longTermTaxRate: '0.15' },
  },
  accounts: [
    {
      source: 'coinbase',
      apiKey: '',
      apiSecret: '',
      importStartDate: '2018-01-01',
    },
    {
      source: 'gdax',
      apiKey: '',
      apiSecret: '',
      apiPassphrase: '',
      importStartDate: '2018-01-01',
    },
    {
      source: 'poloniex',
      name: 'user1',
      apiKey: '',
      apiSecret: '',
      importStartDate: '2018-01-01',
    },
    {
      source: 'file',
      path: 'data/external.csv',
    },
  ],
};
